@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');

:root {
    --white: #FFFFFF;
    --orange: #FAB637;
    --red: #FF4848;
    --brown: #CC6119;
    --grey: #ECEFF3;
    --black: #232628;
    --blue: #6C98E1;
}

body {
    font-family: Open sans, sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
}

address {
 font-style: normal;
}

h1 {
  background-color: var(--black);
  color: var(--white);
  margin:0px;
  padding: 1rem 1% 0 5%;
  font-family: Montserrat, sans-serif;
}

h2 {
  color: var(--black);
  text-align: center;
  font-family: Montserrat, sans-serif;
}

.textTitre {
  font-family: Montserrat, sans-serif;
}

.textBrown {
  color: var(--brown);
}

.textBlue {
  color: var(--blue);
}

.textGrey {
  color: var(--grey);
}

.textWhite {
  color: var(--white);
}

.textNormal {
  font-weight: normal;  
}

.textBold {
  font-weight: bold;
}

.interligneCourt {
  margin:0px;
}

#headerContainer {
  color: var(--white);
  background-color: var(--black);
  font-size: 0.7rem;
  z-index: 1;
}

#headerContent {
    display: flex;
    flex-direction: column-reverse;
}

#headerPhone {
    display: flex;
    gap: 5px;
    width: auto;
}

#headerPhone {
  margin-left:5%;
}

#headerBurger{
    align-self:end;
    justify-content: end;
    margin-top: 30px;
    margin-right:10px;
}

#marque, #headerAddress, #headerTime, #headerSocial {
    display: none;
}

.textIcon > p {
    margin:0px;
    padding:0px;
}

#phoneText {
  font-size:1.4rem;
  /* font-weight: bold; */
}

/* .enteteBoxHeader {
    color: var(--brown);
    font-weight: bold;
} */

.icon {
    max-width: 40px;
    margin-right:10px;
}

.iconReseau {
    max-width: 30px;
    margin-right:10px;
    padding: 3%;
}

#menuToggle {
  background-color: var(--black);
}

#mainNav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

#mainNav {
    width: 100%;
    display: none;
}

.mainNavMenu {
    text-decoration: none;
    font-weight: bold;
    margin: 0px;
    padding:0px
}

.mainNavMenuItem {
    display:block;
    padding: 1%;
    color: var(--black);
    text-decoration: none;
    font-size: 1.2rem;
}

.mainNavActif {
    color: white;
    background-color: var(--brown);
}

#mainNav a:hover {
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
    background-color: var(--brown);
}

#mainNav a:active {
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
    background-color: var(--brown);
}

/* CSS pour la partie main   */
#heroImage {
  display:none;
}

main ul {
  list-style-image: url('../img/check.svg');
  line-height: 2rem;
}

/* .articleContainer {
  display: inline-block;
} */

.imageArticle {
  width:100%;
}

.articleContent {
  padding:5% 10% 0 10%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: min-content;
}

.articleContent > div > h2 {
  text-align: start;
}

.articleContent > p {
  line-height: 1.6rem;
}

.souhaitContainer {
  background-image: url(../img/vehicule4.jpg);
  display: flex;
  flex-direction: column;
  color: var(--white);
  background-position: top;
  margin-top:60px;
}

.souhaitBox {
  padding: 5% 30% 5% 20%;
  margin-top: 2rem;
  line-height: 1.4rem;
}

.souhaitBox > h2 {
  text-align: start;
}

.boxOrange {
  background-color: var(--orange);
  opacity: 90%;
}

.boxRed {
  background-color: var(--red);
  opacity: 90%;
}

.vehiculeContainer {
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    padding: 0 5%;
}

.vehiculeContainer > h2{
  color: var(--white);
  font-size: 2rem;
  padding-bottom: 1rem ;
  border-bottom: var(--brown) solid 2px;
}

.vehiculeFlex {
  display: flex;
  flex-direction: column;
}

.vehiculeAnnonce{
  display: none;
  flex-direction: column;
  gap: 5px;
  color: var(--white);
  font-weight: bold;
  font-size: 1.3rem;
}

.vehiculeAnnonce:first-child {
  display: flex;
}

.vehiculeAnnonce > img {
  width: 100%;
}

.vehiculeAnnonceFond {
  background-color: #3a3d3f;
  display: flex;
  flex-direction: column;
}

.prix, .prixPromo {
  background-color: var(--blue);
  display: inline-block;
  width: 5rem;
  padding: 1rem;
  margin-left: 15%;
  margin-bottom: 0;
}


.choisirContainer {
  display: flex;
  flex-direction: column;
  padding: 0 10%;
}

.choisirContent {
  display: flex;
  flex-direction: row;
  gap:5%;
}

.choisirContent > img {
  width: auto;
  height: 65px;
  margin-top:1rem;
}

.choisirContent > div > p {
  margin-bottom: 2rem;
}

.choisirBtnContainer {
  display: flex;
  flex-direction: column;
  padding: 0 10%;
}

.btnContact {
  text-decoration: none;
  color: var(--white);
  font-weight: bold;
  background-color: var(--blue);
  text-align: center;
  align-self: center;
  width: 15rem;
  padding: 1rem 0;
  margin-bottom: 2rem;
  border-radius: 5px;
}

.venteLocationContainer {
  background-image: url(../img/vehicule3.jpg);
  display: flex;
  flex-direction: column;
  color: var(--white);
  background-position: top;
}

.venteLocationBox {
  padding: 5% 15%;
  margin-top: 10rem;
  line-height: 1.4rem;
}

.venteLocationEntete > h2{
  text-align: left;
}
.venteLocationEntete > p {
  color: var(--white);
  font-weight: bold;
  font-size: 1.4rem;
}

.venteLocationBox > p {
  color: var(--black);
}
/* <---- fin du CSS pour Main ----> */


/* <---- CSS pour footer ----> */
/* #footerContent {
  display: flex;
  flex-direction: column;
  color: var(--grey);
  background-color: var(--black);
  padding: 0 5%;
  line-height: 1.4rem;
  margin-bottom: 10px;
  } */

  #footerContent {
    display: grid;
    grid-template-columns: 1fr;
    color: var(--grey);
    background-color: var(--black);
    padding: 0 5%;
    line-height: 1.4rem;
    /* margin-bottom: 10px; */
    /* border-bottom: var(--grey) 1px solid; */

    /* border: var(--grey) 1px solid; */
    }

#footerFormNewsletter {
  display: flex;
  align-items: start;
}

#email {
    padding: 10px;
    margin: 0px;
    width: 80%;
    border: none;
}

#imageBtnNewsletter {
    margin-top: 0px;
    width: 38.6px;
    /* height: max-content; */
    border:none;
}


#footerIconReseaux {
  display: flex;
  justify-content: start;
  gap: 5%;
  padding-bottom: 15px;
}

.iconFooter {
  max-width: 50px;
}

#copyright {
  display:block;
  color: var(--grey);
  background-color: var(--black);
  text-align: center;
  /* padding-top: 15px; */
  /* padding-bottom: 15px; */
  padding:2% 5%;

}

#copyright > p {
margin: 0;
border-top: var(--grey) 1px solid;
width: 100%;
padding-top:20px;
}


/* <---- fin du CSS pour footer ----> */


/* <---- CSS Media queries ----> */

@media screen and (min-width: 768px){
  #headerContainer {
    width: 100%;
    position: sticky;
    top: 0pX;
  }

  #headerContent {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    gap:10px;
    height:60px;
  }

  #marque, #headerAddress, #headerPhone {
  display: flex;
  flex: 1;
  }

  #marque {
    font-size: 2rem;
    justify-content: center;
  }

  #marque > p {
    margin:0;
  }

  #headerAddress, #headerPhone {
    display: flex;
    align-items: start;
    }

  #headerPhone {
    margin-left:0;
    gap:0;
  }

  #phoneText {
    font-size: 1.1rem;
  }
  #headerBurger {
    display: none;
  }

  .icon {
    max-width: 30px;
    margin-right:10px;
  }

  #mainNav {
    width: 100%;
    display: flex;
    background-color: var(--white);
    opacity: 0.9;
    justify-content: end;
  }

  #mainNav ul {
    list-style: none;
    flex-direction: row;
  }

  .mainNavMenu {
    text-decoration: none;
    font-weight: bold;
    margin-right: 10%;
    gap:5%;
  }

  .mainNavMenuItem {
    display:inline-block;
    text-decoration: none;
    padding: 15px;
  }

  #heroImage {
    display:block;
  }

  #heroImage > img {
    width: 100%;
  }

  figure {
    margin-bottom: 0px;
  }

  h1 {
    margin:-4px 40px 0 40px;
    padding: 2rem 10%;
  }

  #footerContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid: repeat(4, 1fr) / auto-flow; */
    color: var(--grey);
    background-color: var(--black);
    padding: 0 5%;
    line-height: 1.4rem;
    /* margin-bottom: 10px; */
    gap: 5%;
    /* grid-auto-flow: row dense; */
    }
/*
    #copyright {
      grid-area: 3 / 1 / 4 / 4;
    } */


}

@media screen and (min-width: 992px){
  /* Rajout des horaires en haut de page */
  #headerTime {
    display: flex;
    flex: 1;
    }

  .articleContent {
    padding:5% 10% 0 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: min-content;
    grid-gap: 20px;
  }

  .articleContent > div > h2{
    margin-top:0px;
   }

  .souhaitContainer {
    flex-direction: row;
    align-items: center;
    height: 500px;
  }

  .souhaitContainer > .souhaitBox:first-of-type {
    padding: 2% 5% 2% 5%;
    /* display: block; */
    /* padding: 2% 5% 1px 5%; */
    margin: 0 10px 0 10%;
    line-height: 1.4rem;
    /* width: 30%; */
    /* max-height: 55%; */
    /* height: auto; */
    /* flex:15%; */
    /* height: fit-content(30%); */
  }

  .souhaitContainer > .souhaitBox:last-of-type {
    padding: 2% 5% 2% 5%;
    /* padding: 2% 5% 1px 5%; */
    margin: 0 10% 0 10px;
    line-height: 1.4rem;
    /* width: 30%; */
    /* height: fit-content(20%); */
    /* max-height: 50%; */
    /* height: auto; */
    /* flex:15%; */
  }

  .vehiculeContainer {
    padding: 1px  0 3% 0;
  }

  .vehiculeFlex {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 10%;
    margin-right: 10%;
    /* padding: 0; */
  }

  .vehiculeAnnonce:nth-child(2) {
    display: flex;
  }

  .vehiculeAnnonceFond {
    flex-direction: row-reverse;
    /* padding-bottom: 15%; */
    align-items: center;
    justify-content: start;
    /* background-color: #FF4848; */
    height:30%;
    gap:10px;
  }

  .modele {
    margin-left:2%;
    text-align: start;
    /* width: 30%; */
    /* flex-grow: 1; */
    /* font-size: 1.2rem; */

  }

  .prix {
    /* text-align: center; */
    /* width: 170px; */
    /* font-size: 1.2rem; */
    width: 140px;
    padding-left: 0;
    padding-right: 0;
    margin:0 3% 0 0;
    /* font-size: 1.2rem; */
  }

  .prixPromo {
    width: 140px;
    padding: 8px 0;
    margin:0 3% 0 0;
  }

  .prixBarre {
    text-decoration-line: line-through;
    color: var(--black);
    /* background-color: var(--blue); */
    font-weight: normal;
    /* text-align: center; */
    font-size: 1.1rem;
    /* width: 100px; */
    /* margin-right:15px; */
  }

  /* .venteLocationContainer {
    background-image: url(../img/vehicule3.jpg);
    display: flex;
    flex-direction: column;
    color: var(--white);
    background-position: top;
  } */

  .venteLocationBox {
    padding: 1% 3%;
    /* margin-top: 5rem; */
    /* margin-left:10%; */
    margin: 5rem 0 5rem 10%;

    line-height: 1.4rem;
    width: 33%;
  }

  /* .venteLocationEntete > h2{
    text-align: left;
  } */

  /* .venteLocationEntete > p {
    color: var(--white);
    font-weight: bold;
    font-size: 1.4rem;
  } */

  /* .venteLocationBox > p {
    color: var(--black);
  } */

  #footerContent {
    flex-direction: row;
    padding: 0 5%;
    line-height: 1.4rem;
    }

  #footerClub, #footerHoraires, #footerNewsletter, #footerReseaux {
    flex:1;
  }

  /* #footerFormNewsletter {
    display: flex;
    align-items: start;

  } */

  /* #email {
      padding: 10px;
      margin: 0px;
      width: 80%;
  } */

  /* #imageBtnNewsletter {
      margin-top: 1px;
      width: 40px;
      height: 40px;
  } */

  /* #footerIconReseaux {
    display: flex;
    justify-content: start;
    gap: 5%;
  } */

  /* .iconFooter {
    max-width: 50px;
  } */

  /* #copyright {
    text-align: center;
  } */

}


@media screen and (min-width: 1200px){
  /* Rajout des deux icônes de réseaux sociaux en haut de page */
  #headerSocial {
    display: flex;
    flex: 0.5;
    align-items: flex-start;
    flex-direction: row;
    /* min-width: 0;  */
    }


  .vehiculeAnnonce {
    display: flex;
  }

  .choisirContainer {
    display: flex;
    flex-direction: row;
    gap:20px;
  }

  /* .choisirContent {
    display: flex;
    flex-direction: row;
    gap:5%;
  } */

  .choisirContent > img {
    width: auto;
    height: 70px;
    /* margin-top:1rem; */
  }

  .choisirContent > div > p {
    margin-bottom: 1rem;
  }

  #footerContent {
    grid-template-columns: repeat(4, 1fr);
    /* grid: repeat(4, 1fr) / auto-flow; */
    color: var(--grey);
    background-color: var(--black);
    padding: 0 5%;
    line-height: 1.4rem;
    /* margin-bottom: 10px; */
    gap: 5%;
    /* grid-auto-flow: row dense; */
    }

}